@import "../../../node_modules/bootstrap/scss/bootstrap";

.BG {
  background-image: url(../../static/img/BG.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MainBlock {
  padding: 32px;

  position: absolute;
  width: 400px;
  height: 465px;
  left: 760px;
  top: 24%;

  background: #FFFFFF;
  border-radius: 8px;
}

.HelloLog {
  position: static;
  width: 336px;
  height: 23px;
  left: 32px;
  top: 32px;
  text-align: center;

  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #FF5121;
}

.BlockLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  position: static;
  width: 336px;
  height: 168px;
  left: 32px;
  top: 87px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0;
  p {
    position: static;
    width: 336px;
    left: calc(50% - 336px/2);
    top: 0;
    bottom: 78.95%;

    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #424242;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0;
  }
}

.OtstupToBlock {margin-top: 16px; margin-bottom: 16px}

.LoginPass {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  position: static;
  width: 336px;
  height: 56px;

  background: #FAFAFA;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;

  p {color: #424242;}
}

.LoginInClass {
  align-items: center;
  padding: 20px;

  position: static;
  width: 336px;
  height: 58px;

  background: #FF5121;
  border-radius: 8px;
  border: 0;
  p {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}
.LoginInClass:hover {
  background: #ff3600;
}
.LoginInClass:active {
  background: #FF5121;
  transform: translate(0, -0.05em)
}

.LanguageType {
  flex-direction: column;
  align-items: center;
  padding: 0;

  position: static;
  width: 336px;
  height: 56px;
  left: 32px;
  top: 377px;

  margin: 32px 0;
}

.Lan {
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  color: #424242;

  margin: 0 0;
}


.Ru {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #FF5121;
  border-radius: 4px;
  width: 53px;
  height: 32px;
  bottom: 32px;
  left: 143.5px;
  p {
    position: absolute;
    left: 16px;
    top: 7px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FF5121;
  }
}

.En {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #FF5121;
  border-radius: 4px;
  width: 53px;
  height: 32px;
  bottom: 32px;
  right: 143.5px;
  p {
    position: absolute;
    left: 16px;
    top: 7px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FF5121;
  }
}

.RuActive {
  position: absolute;
  border: 1px solid #FF5121;
  background: #FF5121;
  border-radius: 4px;
  width: 53px;
  height: 32px;
  bottom: 32px;
  left: 143.5px;
  p {
    position: absolute;
    left: 16px;
    top: 7px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
}

.EnActive {
  position: absolute;
  background: #FF5121;
  border: 1px solid #FF5121;
  border-radius: 4px;
  width: 53px;
  height: 32px;
  bottom: 32px;
  right: 143.5px;
  p {
    position: absolute;
    left: 16px;
    top: 7px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
}