//Дефолт блок русского языка
.btn_bar_ru {
  position: absolute;
  width: 38px;
  height: 23.75px;
  top: 0;
  left: 0;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  background: #696969;
  p {
    position: static;
    font-family: 'Arial', serif;
    font-size: 12px;
    line-height: 14px;
    margin: 4px;
    color: #FFFFFF;
  }
}
.btn_bar_ru:hover {
  background: #FFFFFF;
  p {
    color: #696969;
  }
}
.btn_bar_ru_active {
  background: #FFFFFF;
  p {
    color: #696969;
  }
}


//Дефолт блок ин. языка
.btn_bar_en {
  position: absolute;
  width: 38px;
  height: 23.75px;
  top: 0;
  left: 46px;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  background: #696969;
  p {
    position: static;
    font-family: 'Arial', serif;
    font-size: 12px;
    line-height: 14px;
    margin: 4px;
    color: #FFFFFF;
  }
}
.btn_bar_en:hover {
  background: #FFFFFF;
  p {
    color: #696969;
  }
}
.btn_bar_en_active {
  background: #FFFFFF;
  p {
    color: #696969;
  }
}


