@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BG {
  background-image: url(../static/img/BG.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MainBlock {
  padding: 32px;

  position: absolute;
  width: 400px;
  height: 465px;
  right: 37%;
  top: 24%;

  background: #FFFFFF;
  border-radius: 8px;
}

.HelloLog {
  position: static;
  width: 336px;
  height: 23px;
  left: 32px;
  top: 32px;
  text-align: center;

  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #FF5121;
}

.BlockLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  position: static;
  width: 336px;
  height: 168px;
  left: 32px;
  top: 87px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0;
  p {
    position: static;
    width: 336px;
    left: calc(50% - 336px/2);
    top: 0;
    bottom: 78.95%;

    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #424242;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0;
  }
}

.OtstupToBlock {margin-top: 16px; margin-bottom: 16px}

.LoginPass {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  position: static;
  width: 336px;
  height: 56px;

  background: #FAFAFA;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;

  p {color: #424242;}
}

.LoginInClass {
  align-items: center;
  padding: 20px;

  position: static;
  width: 336px;
  height: 58px;

  background: #FF5121;
  border-radius: 8px;
  border: 0;
  p {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}
.LoginInClass:hover {
  background: #ff3600;
}
.LoginInClass:active {
  background: #FF5121;
  transform: translate(0, -0.05em)
}

.LanguageType {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  position: static;
  width: 336px;
  height: 56px;
  left: 32px;
  top: 377px;

  margin: 32px 0;
}

.Lan {
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  color: #424242;

  margin: 0 0;
}

//Перепись bootstrap-buttons:

.ibtn_log {
  p {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FF5121;
    margin: 0 10px;
  }
  margin: 8px 4px;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: #FF5121;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  border: 1px solid #FF5121;
  background-color: #FFFFFF;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);

  &:hover {
    color: #FF5121;
    p {color: #FFFFFF}
    background-color: #FF5121;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    p {color: #FFFFFF}
    background-color: #FF5121;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    p {color: #FFFFFF}
    @include box-shadow($btn-active-box-shadow);
    background-color: #FF5121;

    &:focus {
      p {color: #FFFFFF}
      background-color: #FF5121;
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);

    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    p {color: #FFFFFF}
    background-color: #FF5121;
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}

//Блок под поля с информацией
.block_to_rep {
  position: absolute;
  width: 1433px;
  height: 746px;
  left: 244px;
  top: 178px;
}



//Стили на модальное окно


/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}