@import "../../../node_modules/bootstrap/scss/bootstrap";

//Основная полоса бара
.bar {
  display: flex;
  height: 60px;
  background: #696969;
}

//Блок под лого
.logo {
  position: absolute;
  width: 196px;
  height: 60px;
  top: 0;
  left: 0;
  background: #FF3700;
}

//Размерность лого
.picture {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
}



//Стили на ссылки в поле

//Заявки
.ssl_one {
  position: absolute;
  left: 195px;
  width: 119px;
  height: 60px;
  display: flex;
  text-decoration: none;
  p {
    position: absolute;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 19px;
    margin-left: 33px;
    color: #FFFFFF;
  }
}
.ssl_one:hover {
  background: #424242;
}
.ssl_one_active {
  background: #424242;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FF3700;
}

//Отчётность
.ssl_two {
  text-decoration: none;
  display: flex;
  position: absolute;
  width: 158px;
  height: 60px;
  left: 314px;
  p {
    position: absolute;
    font-family: 'Arial', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    margin-top: 19px;
    margin-left: 33px;
    color: #FFFFFF;
  }
}
.ssl_two:hover {
  background: #424242;
}
.ssl_two_active {
  background: #424242;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FF3700;
}


//Блок смены языка
.air_to_lan {
  width: 113px;
  height: 32px;
  display: flex;
  position: absolute;
  right: 321px;
  top: 18px;
}

//Текст приветствия
.text_hello {
  position: absolute;
  font-family: 'Arial', serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: white;
  right: 89px;
  top: 22px;

}

//Блок свг-выхода
.block_out {
  position: absolute;
  right: 50px;
  top: 16px;
  width: 24px;
  height: 24px;
}
//Сама свг-картинка выхода
.logout {
  margin-top: auto;
  margin-bottom: auto;
}
